p{
    color: rgb(0, 0, 0);
    font-family: 'Arial',sans-serif;
}
h1 {
    background-color: #E1EDF2;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
figcaption{
    background-color:#ffffff;
}
img{
    display: block;
    margin:  0 auto;
}
/* CSS */
.link-youtube {
    color: blue; /* Define a cor do texto do link */
    text-decoration: underline; /* Sublinha o texto do link */
}

.link-youtube:hover {
    color: red; /* Define a cor do texto do link quando o mouse passa por cima dele ele */ 
}
.link-youtube:hover {
    color: red;
}
